<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title color="tertiary">
      {{ 'title' | translate}}
    </ion-title>
  <!--
    <ion-buttons color="primary" slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="more" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  -->

      <ion-label slot="end" color="tertiary">{{"language" | translate}}</ion-label>
    <ion-select slot="end" okText="{{'Ok' | translate}}" cancelText="{{'Cancel' | translate}}" (ionChange)="switchLanguage($event)" placeholder="{{'select' | translate}}" color="primary">
      <ion-select-option value="en" >{{ 'English' | translate}}</ion-select-option>
      <ion-select-option value="fr" >{{ 'French' | translate}}</ion-select-option>
    </ion-select>

  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="danger">{{'firstText' | translate}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="user">
    <img [src]="user.picture.data.url">
    <ion-card-header>
      <ion-card-title>
        {{ user.name }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ user.birthday }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ user.email }}
      <ion-button (click)="logout()" expand="block">{{'logoutButton' | translate}}</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="login()" expand="block" id="container"><ion-icon slot="end" name="logo-facebook"></ion-icon>{{ 'loginButton' | translate }}</ion-button>

  <ion-grid class="internship-logo">
    <ion-row>
      <ion-col class="justify-align-center">
        <ion-text>{{'secondText' | translate}}</ion-text>
        <ion-img src="assets/internship.png" class="inline-b"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
